.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.pagination_disabled {
  pointer-events: none;
}

.pagination__link {
  padding: 10px 20.5px;
  display: flex;
  max-width: 50px;
  justify-content: center;
  height: max-content;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Proto', Arial, sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.pagination__link_forward {
  display: block;
  height: 100%;
  width: 100%;
}

.pagination__link:hover {
  color: #224cff;
}

.pagination__link_active {
  border: 1px solid #000000;
  border-radius: 50%;
}

.pagination__link_active:hover {
  border-color: #224cff;
}

.pagination__forward {
  width: 30px;
  height: 30px;
  background-image: url('../../../assets/img/forward-white.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  margin-left: 34.5px;
  cursor: pointer;
}

.pagination__forward:hover {
  background-image: url('../../../assets/img/forward.svg');
}

@media (max-width: 1024px) {
  .pagination__link {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    max-width: 37px;
  }
  .pagination__forward {
    width: 20px;
    height: 20px;
    margin-left: 19px;
  }
}
@media (max-width: 640px) {
  .pagination__forward {
    margin-left: 4px;
  }
}
