.questions {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.questions_place_mainpage {
  width: calc(100% - 450px);
}

.questions__page-list {
  margin: 0 auto;
  margin-top: 80px;
  padding: 0;
  list-style: none;
  justify-items: center;
}

@media (max-width: 1440px) {
  .questions_place_mainpage {
    width: calc(100% - 400px);
  }
}

@media (max-width: 1024px) {
  .questions {
    grid-template-rows: repeat(2, max-content);
  }

  .questions_place_mainpage {
    width: calc(100% - 400px);
  }

  .questions__page-list {
    margin-top: 50px;
  }
}

@media (max-width: 860px) {
  .questions {
    width: 100%;
  }

  .questions__page-list {
    margin-top: 30px;
  }
}
