.mainpage {
  display: grid;
  grid-template-columns: 1;
  gap: 30px;
  box-sizing: border-box;
}

.mainpage__intro {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.mainpage__blocks {
  width: 100%;
}

.mainpage__blocks-col {
  display: flex;
  width: 100%;
}

@media (max-width: 860px) {
  .mainpage__blocks-col {
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  .mainpage__intro {
    grid-template-columns: 1fr;
  }
}
