.recommendation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px 0;
  background-color: #fff;
  border-radius: 30px;
  max-width: 770px;
}

.recommendation_place_page {
  margin: 0 auto 80px;
}

.recommendation__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 710px;
}

.recommendation__text {
  font-style: normal;
  font-family: 'Proto', Arial, sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #000;
  margin: 0 0 16px 0;
  text-align: center;
  padding: 30px 15px;
}

.recommendation__text_place_page {
  margin: 0;
}

.recommendation__text-link {
  color: #224cff;
  text-decoration: none;
}

.recommendation__text-link:hover {
  color: #2e2468;
}

@media (max-width: 640px) {
  .recommendation {
    padding: 30px 15px;
  }
  .recommendation__text {
    font-size: 18px;
  }
}
